{%  load static %}
<head>
  <title>Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="nS75p9wgxtQArb5TtqAAiogy9McKWRGwCR549sEHlH4" />
  <!-- bootstarp -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <script src="{% static 'main/js/jquery.min.js' %}"></script>
  <script src="{% static 'main/js/popper.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/wow.min.js' %}"></script>
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
  <script src="{% static 'main/js/owl.carousel.js' %}"></script>
  <!-- custom js -->
  <!-- custom css -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/animate.css' %}">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="styleshefoet">
  <script src="{% static 'main/js/font-awesome-5-pro.js' %}"></script>
</head>