{% extends 'main/base.html' %}

{% block style %}
<style>
    @media only screen and (max-width: 554px) {
        .vid-wid {
            width: 250px;
        }
    }
</style>
{% endblock %}

{% block content %}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="text-center ">
                    <h2 class="text-white">Purchase Course</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- banner -->


<section class="contact-data">
    <div class="container">
        <div id="contact-bg" class="row mt-5">
            {% for obj in objects %}
            <div class="col-lg-6">
                <br>
                <br>
                <br>
                <div class="contact-box text-center mb-5 mb-lg-0">
                    <div class="contact-icon mb-4">
                        <div class="course-img">
                            <img src="{{ obj.thumbnail.url }}">
                        </div>
                        <br>
                        <h5>{{ obj.name }}</h5>
                    </div>
                    {# <div class="text">#}
                        {# <video autoplay="" loop="" controls="" width="490" height="280" class="vid-wid">#}
                            {#
                            <source type="video/mp4"
                                src="https://endtest-videos.s3-us-west-2.amazonaws.com/documentation/endtest_data_driven_testing_csv.mp4">
                            #}
                            {#
                        </video>#}
                        {# </div>#}
                    <div class="course-btn">
                        <a href="{% url 'course-access' obj.slug %}" class="theme-btn">
                            <i class="fas fa-play-circle mr-2" aria-hidden="true"></i>
                            <span>view course</span>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            {% endfor %}
            {% comment %}
            <div class="col-lg-6">
                <div class="contact-box text-center mb-5 mb-lg-0">
                    <div class="contact-icon mb-4">
                        <img src="img/history-icon.png" class="mb-3">
                        <h5>Cource video 2 </h5>
                    </div>
                    <div class="text">
                        <video autoplay="" loop="" controls="" width="490" height="280" class="vid-wid">
                            <source type="video/mp4"
                                src="https://endtest-videos.s3-us-west-2.amazonaws.com/documentation/endtest_data_driven_testing_csv.mp4">
                        </video>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div>
</section>
{% endblock %}