{% extends 'main/base.html' %}

{% block style %}
  <style>
  	@media only screen and (max-width: 554px){
  	.vid-wid{
  		width: 250px;
  	}
  }
  </style>
{% endblock %}

{% block content %}

    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pt-0 pt-lg-5">
                    <div class="text-center pt-0 pt-lg-5">
                        <h2 class="text-white">{{ course.name }} Videos</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- banner -->


    <section class="contact-data">
        <div class="container">
            <div id="contact-bg" class="row mt-5">
                {% for video in videos %}
                    <div class="col-lg-6">
                        <div class="contact-box text-center mb-5 mb-lg-0">
                            <div class="contact-icon mb-4">
                                {% if video.thumbnail %}
                                    <img src="{{ video.thumbnail.url }}" class="mb-3">
                                {% endif %}
                                <h5>{{ video.name }}</h5>
                            </div>
                            <div class="text">
                                <video autoplay="" loop="" controls="" width="490" height="280" class="vid-wid">
                                    <source type="video/mp4" src="https://endtest-videos.s3-us-west-2.amazonaws.com/documentation/endtest_data_driven_testing_csv.mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}